<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="Crittercism" version="2.2.0" targetFramework="wp81" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="wp81" />
  <package id="LumiaImagingSDK" version="2.0.208" targetFramework="wp81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp81" />
  <package id="MyToolkit" version="2.3.28.0" targetFramework="wp81" />
  <package id="MyToolkit.Extended" version="2.3.28.0" targetFramework="wp81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp81" />
  <package id="PhoneThemeManager.Source" version="2.1.2" targetFramework="wp81" />
  <package id="PocketWP" version="1.0.0.10" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>